<h1>Product Name: <%= @product.name %></h1>
<br>
<p><strong>Country: </strong><%= @product.country %></p>
<p><strong>Cost: $</strong><%= @product.cost %></p>
<br>
<h4>Description:</h4>
<p></p>

<%= link_to "Edit this Product", edit_product_path(@product) %> | <%= link_to "Delete this Product", product_path(@product),
                                    :data => { :confirm => "Are you sure you want to remove this product from the system?",
                                    :method => "delete"} %>
